.button {
  width: 18rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button p {
  font-size: 1.6rem;
  font-family: "Raleway";
  font-weight: bold;
  color: black;
}
