:root {
  --primary-color: #00012a;
  --secondary-color: #c0c0c0;
  --valid: #5eff52;
  --valid-hover: #8cff84b3;
  --matrix-letter: #323363;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway";
}
